<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
  <div>
    <mat-form-field>
        <input matInput
                placeholder="name"
               formControlName="name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <input matInput
                placeholder="url"
               formControlName="url" />
    </mat-form-field>
  </div>
      
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
   


